body {
    margin: 0;
}

.nav-container {
    background-color: lightgrey;
    display: flex;
    padding: 0.5rem 1rem;
    justify-content: space-between;
    align-items: center;
    color: grey;
}

.logo img {
    width: 4rem;
    cursor: pointer;
}

.nav-options ul li {
    list-style: none;
    display: inline-block;
    padding: 0.3rem;
    /* might not need */
    position: relative;
    cursor: pointer;

}

.nav-options ul li:hover {
    color: rgb(35, 184, 35);
}

.smiley {
    display: inline-block;
}

.smiley .material-symbols-outlined:hover {
    color: rgb(35, 184, 35);
    cursor: pointer;
}